@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #EFF0F2;
  --primaryText: #02898C;
  --secondaryText: #E3BD77;
}

html {
  scroll-behavior: smooth;
}

.primary-bg {
  background-color: var(--background);
}

.primary-text {
  color: var(--primaryText);
}

.secondary-text {
  color: var(--secondaryText);
}

.section-container {
  @apply relative h-screen flex flex-col items-center justify-center snap-start;
}